@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@100;300;700;900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Lato", sans-serif;
}

p {
    font-weight: 400;
}

.container {
    width: 1150px;
    height: auto;
    margin: 0 auto;
}

/* header part */
.header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLeftSide {
    display: flex;
    align-items: center;
    gap: 5px;
}


.headerLeftSide img {
    width: 30px;
    height: 30px;
}

.headerLeftSide h3 {
    color: #c9182ade;
}

.headerRightSide p {
    font-size: 17px;
    font-weight: 600;
}

/* hero section */
.heroSection {
    width: 850px;
    height: 500px;
    position: relative;
    margin-left: 300px;
}

.heroSection img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.heroSection
.contentDetails {
    width: 420px;
    height: 400px;
    background-color: #ffffff;
    position: absolute;
    top: 55px;
    left: -300px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 1px 5px 1px gray;
}

.contentDetails h2 {
    font-size: 40px;
    font-weight: 800;
}

.contentDetails p {
    font-size: 18px;
    margin-bottom: 20px;
}

.inputStyle P {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
}

input {
    width: 360px;
    height: 60px;
    padding-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.next {
    border-right: 2px solid black;
}


.inputStyle-wraper {
    display: flex;
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.in-out {
    width: 177px;
    border: 0px; 
}


.inputStyle .extra {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}


.inputStyle .extrA {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



.Button-search  {
    width: 100%;
    height: 50px;
    background-color: #c9182ade;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
}

/* sec hero section */

.secHeroSection {
    margin-top: 70px;
}

.h2p h2 {
    font-size: 35px;
    font-weight: 700;
}

.h2p p {
    font-size: 20px;
    color: gray;
    margin-top: 10px;
}

.dhakA {
    position: relative;
}

.dhakA img {
    width: 275px;
    height: 260px;
    border-radius: 10px;
    margin-top: 30px;
}

.superHost {
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    background-color: #996633;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 45px;
    left: 20px; 
    border-radius: 20px;
}

.guestFavrite {
    width: 110px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    background-color: white;
    color: black;
    font-weight: 700;
    position: absolute;
    top: 45px;
    left: 20px; 
    border-radius: 20px;
}

.dhakaUnitDetails {
    width: 275px;
    height: auto;
}

.dhakaUnitDetails p {
    color: rgb(104, 96, 96);
    font-size: 15px;
}

.h3Rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.unitWraper {
    display: flex;
    justify-content: space-between;
}

.icons {
    align-items: center;
}

.icons i {
    font-size: 12px;
}


/* third hero section */
.thirdHeroSection {
    margin-top: 50px;
}

.stysWraper {
    display: flex;
    justify-content: space-between;
}

.apartmentHotelStays img {
    width: 370px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
}

.apartmentHotelStays h3 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}

.apartmentHotelStays p {
    font-weight: 300;
    font-size: 19px;
    color: rgb(88, 83, 83);
    margin-top: 5px;
}


/* fourth hero section  */
.fourthHeroSection {
    margin-top: 70px;
}

.fiveBoxes {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.fiveBoxes i {
    font-size: 25px;
    margin-bottom: 10px;
}

.kIwIpOfrAi {
    width: 210px;
    height: 110px;
    background-color: rgba(247, 245, 242, 0.226);
    border-radius: 10px;
    padding: 30px 25px;
    box-shadow: 0px 1px 2px 1px gray;
}

.free {
    width: 260px;
}


/* fifth hero section */

.fifthHeroSection {
    margin-top: 70px;
}

.sixBoxes {
   margin-top: 20px;
}

.partOne {
    display: flex;
    justify-content: space-between;  
}

.partTwo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.h3p {
    width: 370px;
    height: 140px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
}

.h3p p {
    font-size: 20px;
    color: gray;
    padding-top: 5px;
}



/* sixth heroSection */
.sixthHeroSection {
    margin-top: 50px;
}

.topWraper {
    display: flex;
    justify-content: space-between;
}

.bottomWraper {
    display: flex;
    gap: 20px;
}

.showAllBtn {
    width: 110px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    padding-top: 12px;
    margin-top: 20px;
}


/* seventh hero section */
.seventhHeroSection {
    margin-top: 50px;
}

.sec {
    height: 120px;
    padding: 30px 30px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: none;
}


/* eightth hero section */
.eightthHeroSection {
    width: 100%;
    height: 1020px;
    margin-top: 60px;
    padding: 60px 0;

}

table {
    width: 100%;
}
tr td {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid gray;
}


/* nine th hero section */
span a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

.ninethHeroSection {
    margin-top: 40px;
}

.lastNavBar {
    display: flex;
    border-bottom: 1px solid gray;
    gap: 10px;
    margin-top: 20px;
}

.bottom {
    border-bottom: 1px solid black ;
}

.topNavItem {
    width: 160px;
    height: 50px;
    text-align: center;
    padding-top: 15px; 
}


.firstSixPlace {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.secSixPlace {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.TopItems {
    width: 150px;
    height: 60px;
}

.TopItems P {
    font-size: 18px;
    color: gray;
}

.TopItems h4 {
    font-size: 18px;
}

.locations {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 80px;
    gap: 10px;
}

.details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details .clicked a {
    text-decoration: none;
}

.details i {
    font-size: 10px;
}

.details a {
    color: black;
}



/* footer */
footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-top: 1px solid rgba(36, 33, 33, 0.733);
}

.leftSide {
    display: flex;
    align-items: center;
    gap: 10px;
}

.leftSide .inc {
    color: rgba(22, 21, 21, 0.829);
    font-size: 17px;
}

.leftSide a {
    text-decoration: none;
    color: rgba(22, 21, 21, 0.829);
    font-size: 17px;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightSide i {
    font-size: 20px;
}

